@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
    --main-bg-color: #ffffff;
    --text-color: #000000;
    --nav-bg-color: #0c253d84;
    --nav-item-color: #769fcd;
    --card-hover-color: #125adf67;
    --link-color: #d3dce2;
    --nav-bg-color1: #061735b9;
    --icon-color: #ffffff;
    --icon-bg-color: #332c2c6c;
}


html{
    background-color: var(--main-bg-color);
    font-family: 'Libre Baskerville', serif;    
    height: 100%;    
}

body{
    margin: 0;
    height: 100%;
}

#middle{
    text-align: center;
    height: 100%;
}

.perfil {
    position: relative;
    top: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact {
    position: relative;
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #000000;
    animation-name: icon_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    border-radius: 4px;
}

@keyframes icon_animation {
    from { background-color: #ffffff; }
    to { background-color:  var(--icon-bg-color); }
}

#p-cards{    
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    padding: 5px;    
    margin: auto;
    max-width: 90vh;
}

.project {
    transition: 1s;
    position: relative;
    background-color: var(--nav-bg-color);    
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.418);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: grid;
    grid-template-rows: 50px 200px 70px;    

    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.25);

}

.p-body{    
    overflow-y: hidden;
}

.p-description{        
    text-overflow: ellipsis; 
    text-align: center;
}

.p-link{
    text-decoration: none;
    color: var(--link-color);   
    animation: LinksColor  infinite; 
}

.p-link:hover{
    opacity: 0.5;
}

.p-footer{
    position: relative;
    display: flex;   
    justify-content: space-between;     
    margin: 0px 10px 0px 10px;   
}

.project:hover{                 
    transition: 1s;
    transition-timing-function: ease-in-out;
    background-color: var(--card-hover-color);
}

.nav {
    background-color: var(--nav-bg-color);
    padding: 8px;
    margin: 0;
    font-size: 20px;
    color: var(--link-color);      
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* display: flex;     */
    /* justify-content: center; */
}

.nav a {
    text-decoration: none;
    color: var(--link-color);  
}

.nav-ul {    
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;    
}

.nav-li {
 
    padding: 10px;
    margin: 5px;
    /* border: 5px solid var(--nav-bg-color); */
    border: none;
}

.nav-li:hover {
    border-bottom-color: var(--nav-item-color);
    transition: 1s;
}

.nav-li a { transition: 1s; }
.nav-li a:hover {
    font-size: 21px;
    font-weight: bold;
    transition: 0.2s;    
}
